#menu1{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 10;
}

#menu1 ul{
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  list-style: none;
}

#menu1 > ul::after{
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  content: " ";
}

#menu1 ul li{
  position: relative;
  display: block;
  width: auto;
  height: auto;
  float: left;
}

#menu1 ul li a{
  display: block;
  padding: 9px 25px 0px 25px;
  font-size: 14px;
  line height: 1.3em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  box-sizing: border-box;
  color: black;
}

#menu1 ul li ul{
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
  width: 200px;
  background-color: #470000;
}

#menu1 ul li:hover ul{
  display: block;
}

#menu1 ul li ul li{
  float: none;
  width: 100%;
}

#menu1 ul li ul li a{
  display: block;
  text-transform: none;
  height: auto;
  padding: 7px 25px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #ffffff;
  color: black;
}

#menu1 ul li ul li:first-child a{
  border-top: 0px;
}


#menu1 {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
nav {
  background-color: #470000;
}
header {
  background-color: #470000;
}

#sidebar {
float: right;
width: 90%;
height: 250px;\
}

#content {
float: left;
width: 10%;
height: 100px;
background-color: #470000;
}

li ul li:hover a {
  background: #75046e;
}

li:hover a {
  background: #8c0303;
}
  
h1 {
  font-size: 15px;
  font-family: "Sixtyfour Convergence", sans-serif;
}


footer {
padding: 1450px 0px 0px 0px;
margin: 0px 0px 0px 0px;
background-color: #300000;
font-family: "Sixtyfour Convergence", sans-serif;
}

.footer-columns {
display: flex;
flex: 50%;
margin: 0px 0px 0px 0px;
padding: 10px 0px 0px 0px;
}

a {
  text-decoration: none;
}

main {
  float: right;
  padding: 0px 15px 0px 15px;
  margin: -140px 0px 0px 0px;
  background-color: #470000;
  font-family: "Sixtyfour Convergence", sans-serif;
  border-radius: 1%;
}

body {
  background-color: #8c0303;
}

video {
height: 250px;
width: 500px;
}

.dow {
background-color: #300000;
font-size: 50px;
padding: 5px;
}

.logo {
  font-size: 20px;
}

p {
font-size: 30px;
}